


*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
/.idea/
target/classes/demo/
target/classes/logback.xml
target/classes/org/
target/classes/spring/spring-service.xml
target/classes/spring/spring-web.xml
target/generated-sources/
target/generated-test-sources/
target/miaosha-1.0-SNAPSHOT/META-INF/
target/miaosha-1.0-SNAPSHOT/WEB-INF/classes/logback.xml
target/miaosha-1.0-SNAPSHOT/WEB-INF/classes/org/
target/miaosha-1.0-SNAPSHOT/WEB-INF/classes/spring/spring-service.xml
target/miaosha-1.0-SNAPSHOT/WEB-INF/classes/spring/spring-web.xml
target/miaosha-1.0-SNAPSHOT/WEB-INF/jsp/
target/miaosha-1.0-SNAPSHOT/WEB-INF/lib/
target/test-classes/
/target/
/miaosha.iml
